body{
  margin:0;
  font-family:sans-serif;
  text-align:center;
  color:white;
  overflow:hidden;

  background:linear-gradient(-45deg,#00c6ff,#0072ff,#ff416c,#ff4b2b);
  background-size:400% 400%;
  animation:bg 8s infinite;
}

@keyframes bg{
  0%{background-position:0%}
  50%{background-position:100%}
  100%{background-position:0%}
}

#start{margin-top:120px;}
#game{display:none;margin-top:60px;}

h2{font-size:28px;}
#timer{color:yellow;}

.btns{
  display:flex;
  justify-content:center;
  gap:20px;
}

button{
  padding:15px 25px;
  border:none;
  border-radius:30px;
  font-size:18px;
  cursor:pointer;
}

.safe{background:#00c853;}
.risk{background:#d50000;}

#shareBtn{display:none;margin-top:20px;}

canvas{
  position:fixed;
  top:0;
  left:0;
  pointer-events:none;
}
